.header {
  background-color: #333;
  padding: 5px;
}
nav {
  width: 100%;
  display: flex;
  justify-content: center;
}
.navSpace {
  width: 50%;
  display: flex;
  align-self: center;
  padding-right: 15%;
  justify-content: flex-center;
}
.navSpace2 {
  width: 50%;
  display: flex;
  justify-content: flex-end;
  padding-right: 60px;
  align-items: center;
}
.loggoutButton {
  color: white;
  border-radius: 30px;
}

.configButton {
  color: white;
  background-color: green; 
  border-radius: 30px;
}

.nav-list {
  list-style-type: none;
  display: flex;
  justify-content: center;
  margin: 0;
  padding: 0;
}

.nav-item {
  display: flex;
  margin-right: 20px;

}

.nav-item:last-child {
  margin-right: 0;
}

.nav-item a {
  color: #fff;
  text-decoration: none;
}

.nav-item a:hover {
  text-decoration: underline;
}

.username {
  color: #fff;
  font-weight: 500;
  margin-right: 5%;
}
.dashHeader {
  background-color: green;
  margin-left: 40px;
  border-radius: 10px;
  padding: 8px 18px;
  color: white;
  font-weight: bold;
  display: inline-block;
  
  transition: background-color 0.3s ease, transform 0.3s ease;
}

.dashHeader:hover {
  background-color: darkgreen;
}

.container {
  display: flex;
  justify-content: flex-start;
}
